Repository pedronauck/rust-test: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, fmt, prettier

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, pre-push, commit-msg]
default_stages: [pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key

  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.16.0
    hooks:
      - id: yamlfix
        args: [-c, .yamlfix.toml]

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.16.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/config-conventional']

  - repo: https://github.com/crate-ci/typos
    rev: v1.21.0
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: clippy
        name: clippy
        description: Lint rust sources
        entry: make lint-clippy
        language: system
        types: [rust]
        pass_filenames: false
      - id: fmt
        name: fmt
        description: Format files with cargo fmt.
        entry: make fmt-rust
        language: system
        types: [rust]
      - id: prettier
        name: prettier
        description: Lint config files using Prettier
        entry: make fmt-markdown
        language: system
        types: [markdown]

ci(bump): prepare release 0.0.2-canary.1 (#64)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: prettier

ci: remove arficats
  knope.toml
Due: none

ci(bump): prepare release 0.0.2-canary.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: prettier

ci: fix artifacts
  .github/workflows/release.yaml
  knope.toml
Due: none

ci(bump): prepare release 0.0.2-canary.2 (#66)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: prettier

ci: fix artifacts
  knope.toml
Due: none

ci(bump): prepare release 0.0.2-canary.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: prettier

ci(bump): prepare release 0.0.2-canary.3 (#67)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: prettier

fix: test
  .rustfmt.toml
Due: none

ci(bump): prepare release 0.0.2-canary.4
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: prettier

ci(bump): prepare release 0.0.2-canary.4 (#68)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: prettier

ci: release stable always
  .github/workflows/ci.yaml
  .github/workflows/prepare_release.yaml
Due: none

ci(bump): prepare release 0.0.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: prettier

ci: release stable always
  .github/workflows/ci.yaml
  .github/workflows/prepare_release.yaml
  .github/workflows/release.yaml
Due: none

fix: another test
  .github/workflows/release.yaml
Due: none

ci(bump): prepare release 0.0.2 (#71)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: prettier

feat: test feature
  .rustfmt.toml
Due: none

ci(bump): prepare release 0.0.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: prettier

ci(bump): prepare release 0.0.3 (#72)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: prettier

fix: testin
  .commitlintrc.yaml
  .github/actions/setup-node/action.yaml
  .github/actions/setup-rust/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/prepare_release.yaml
  .github/workflows/release.yaml
  .github/workflows/update_deps.yaml
  .rustfmt.toml
  .typos.toml
  CONTRIBUTING.md
  Cargo.toml
  Makefile
  README.md
  crates/fuel-core-nats/Cargo.lock
  crates/fuel-core-nats/Cargo.toml
  crates/fuel-core-nats/README.md
  crates/fuel-core-nats/src/lib.rs
  crates/fuel-core-nats/src/main.rs
  crates/nats-stream/.gitignore
  crates/nats-stream/Cargo.lock
  crates/nats-stream/Cargo.toml
  crates/nats-stream/README.md
  crates/nats-stream/src/main.rs
  knope.toml
  rust-toolchain.toml
Due: clippy, fmt, prettier

ci: testing
  .github/workflows/prepare_release.yaml
  crates/fuel-core-nats/Cargo.toml
Due: none

ci: fix knope
  knope.toml
Due: none

feat: testing feat
  .github/actions/setup-rust/action.yaml
Due: none

fix: ci
  .github/workflows/prepare_release.yaml
Due: none

feat: testing
  .github/actions/setup-rust/action.yaml
  .yamlfix.toml
Due: none

feat: blablabla
  .github/workflows/ci.yaml
  .github/workflows/prepare_release.yaml
Due: none

feat: fofofo
  .github/workflows/prepare_release.yaml
Due: none

ci(release): preparing 0.0.4
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: prettier

fix: release
  .github/workflows/release.yaml
Due: none

feat: remove wasm
  .github/workflows/ci.yaml
  .github/workflows/prepare_release.yaml
  .github/workflows/update_deps.yaml
  rust-toolchain.toml
Due: none

fix: wasm
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  Cargo.lock
  rust-toolchain.toml
Due: none

ci: fix action
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: none

ci(release): preparing 0.0.4 (#74)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: prettier

ci: update
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  Cargo.toml
Due: none

feat: blabla
  README.md
Due: prettier

ci(release): preparing 0.0.5
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: prettier
