Repository pedronauck/rust-test: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, fmt, prettier

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, pre-push, commit-msg]
default_stages: [pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key

  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.16.0
    hooks:
      - id: yamlfix
        args: [-c, .yamlfix.toml]

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.16.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/config-conventional']

  - repo: https://github.com/crate-ci/typos
    rev: v1.21.0
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: clippy
        name: clippy
        description: Lint rust sources
        entry: make lint-clippy
        language: system
        types: [rust]
        pass_filenames: false
      - id: fmt
        name: fmt
        description: Format files with cargo fmt.
        entry: make fmt-rust
        language: system
        types: [rust]
      - id: prettier
        name: prettier
        description: Lint config files using Prettier
        entry: make fmt-markdown
        language: system
        types: [markdown]

ci(bump): prepare release 0.0.2-canary.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: prettier

fix: release pedro
  .changeset/.gitkeep
  .clippy.toml
  .commitlintrc.yaml
  .cz.toml
  .github/workflows/ci.yaml
  .github/workflows/prepare_release.yaml
  .github/workflows/release.yaml
  .github/workflows/update_deps.yaml
  .gitignore
  .pre-commit-config.yaml
  .rustfmt.toml
  CHANGELOG.md
  CONTRIBUTING.md
  Makefile
  crates/nats-stream/src/main.rs
  knope.toml
  scripts/bump-version.sh
  scripts/setup.sh
Due: clippy, fmt, prettier

fix: ci action
  .github/workflows/ci.yaml
Due: none

ci: add release action
  .github/workflows/release.yaml
  Makefile
  knope.toml
Due: none

fix: release action
  .github/workflows/prepare_release.yaml
  .github/workflows/release.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Makefile
  scripts/build.sh
Due: prettier

ci: add release action
  .github/workflows/ci.yaml
  .github/workflows/prepare_release.yaml
  .github/workflows/release.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Makefile
  knope.toml
  scripts/build.sh
Due: prettier

ci: adjust release action
  .github/workflows/ci.yaml
  .github/workflows/prepare_release.yaml
  .github/workflows/release.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Makefile
  knope.toml
  scripts/build.sh
Due: prettier

ci: release action
  .github/workflows/ci.yaml
  .github/workflows/prepare_release.yaml
  .github/workflows/release.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Makefile
  knope.toml
Due: prettier

ci: act release
  .github/workflows/ci.yaml
  .github/workflows/prepare_release.yaml
  .github/workflows/release.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Makefile
  knope.toml
Due: prettier

ci: act release [2]
  .github/workflows/ci.yaml
  .github/workflows/prepare_release.yaml
  .github/workflows/release.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Makefile
  knope.toml
Due: prettier

ci(bump): prepare release 0.0.2-canary.0 (#56)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: prettier

ci: fix release action
  .github/workflows/prepare_release.yaml
Due: none

ci(bump): prepare release 0.0.2-canary.0
  CHANGELOG.md
Due: prettier

ci(bump): prepare release 0.0.2-canary.0 (#57)
  CHANGELOG.md
Due: prettier

ci(bump): prepare release 0.0.2-rc.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: prettier

ci: fix release
  .github/workflows/ci.yaml
  .github/workflows/prepare_release.yaml
  .github/workflows/release.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  Makefile
  knope.toml
Due: prettier

ci: fix release act
  .github/workflows/ci.yaml
  .github/workflows/prepare_release.yaml
  .github/workflows/release.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  Makefile
  knope.toml
Due: prettier

ci: fix release action
  .github/workflows/ci.yaml
  .github/workflows/prepare_release.yaml
  .github/workflows/release.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  Makefile
  knope.toml
  src/main.rs
Due: clippy, fmt, prettier

ci(bump): prepare release 0.0.2-canary.0 (#61)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: prettier

ci: fix release
  .github/workflows/release.yaml
Due: none

ci(bump): prepare release 0.0.2-canary.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: prettier

ci: fix package assets path
  knope.toml
Due: none
