Repository pedronauck/rust-test: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, fmt, prettier

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, pre-push, commit-msg]
default_stages: [pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key

  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.16.0
    hooks:
      - id: yamlfix
        args: [-c, .yamlfix.toml]

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.16.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/config-conventional']

  - repo: https://github.com/crate-ci/typos
    rev: v1.21.0
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: clippy
        name: clippy
        description: Lint rust sources
        entry: make lint-clippy
        language: system
        types: [rust]
        pass_filenames: false
      - id: fmt
        name: fmt
        description: Format files with cargo fmt.
        entry: make fmt-rust
        language: system
        types: [rust]
      - id: prettier
        name: prettier
        description: Lint config files using Prettier
        entry: make fmt-markdown
        language: system
        types: [markdown]

ci: test
  .github/workflows/ci.yaml
  .github/workflows/update_deps.yaml
  knope.toml
  src/main.rs
Due: clippy, fmt

ci: test
  knope.toml
Due: none

ci: test
  crates/fuel-core-nats/Cargo.toml
Due: none

docs: test
  Cargo.toml
  knope.toml
Due: none

fix: test
  knope.toml
Due: none

fix: test new
  knope.toml
Due: none

ci(release): preparing 0.0.5
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/fuel-core-nats/Cargo.toml
Due: prettier

fix: test 1
  .changeset/.gitkeep
  .cz.toml
  .dockerignore
  .editorconfig
  .github/actions/setup-node/action.yaml
  .github/actions/setup-rust/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/prepare_release.yaml
  .github/workflows/release.yaml
  .github/workflows/update_deps.yaml
  .gitignore
  .pre-commit-config.yaml
  .rustfmt.toml
  .typos.toml
  .yamlfix.toml
  CONTRIBUTING.md
  Cargo.toml
  Makefile
  README.md
  clippy.toml
  crates/fuel-core-nats/Cargo.lock
  crates/fuel-core-nats/Cargo.toml
  crates/fuel-core-nats/README.md
  crates/fuel-core-nats/src/lib.rs
  crates/fuel-core-nats/src/main.rs
  crates/nats-stream/.gitignore
  crates/nats-stream/Cargo.lock
  crates/nats-stream/Cargo.toml
  crates/nats-stream/README.md
  crates/nats-stream/src/main.rs
  knope.toml
  rust-toolchain.toml
  scripts/bump-version.sh
  scripts/setup.sh
Due: clippy, fmt, prettier

ci(release): preparing 0.0.5
  CHANGELOG.md
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  crates/fuel-core-nats/Cargo.toml
Due: prettier

ci(release): preparing 0.0.2
  CHANGELOG.md
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  crates/fuel-core-nats/Cargo.toml
Due: prettier

fix: test 2
  Cargo.lock
  Cargo.toml
Due: none

feat: test 1
  .changeset/.gitkeep
  .cz.toml
  .dockerignore
  .editorconfig
  .github/actions/setup-node/action.yaml
  .github/actions/setup-rust/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/prepare_release.yaml
  .github/workflows/release.yaml
  .github/workflows/update_deps.yaml
  .gitignore
  .pre-commit-config.yaml
  .rustfmt.toml
  .typos.toml
  .yamlfix.toml
  CONTRIBUTING.md
  Cargo.toml
  Makefile
  README.md
  clippy.toml
  crates/fuel-core-nats/Cargo.lock
  crates/fuel-core-nats/Cargo.toml
  crates/fuel-core-nats/README.md
  crates/fuel-core-nats/src/lib.rs
  crates/fuel-core-nats/src/main.rs
  crates/nats-stream/.gitignore
  crates/nats-stream/Cargo.lock
  crates/nats-stream/Cargo.toml
  crates/nats-stream/README.md
  crates/nats-stream/src/main.rs
  knope.toml
  rust-toolchain.toml
  scripts/bump-version.sh
  scripts/setup.sh
Due: clippy, fmt, prettier

ci(release): preparing 0.0.2 (#80)
  CHANGELOG.md
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  crates/fuel-core-nats/Cargo.toml
Due: prettier

fix: test 2
  README.md
Due: prettier

ci(release): preparing 0.0.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/fuel-core-nats/Cargo.toml
Due: prettier

ci(release): preparing 0.0.3 (#81)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/fuel-core-nats/Cargo.toml
Due: prettier

fix: test 3
  knope.toml
Due: none

feat: test 4
  README.md
Due: prettier

ci(release): preparing 0.0.4
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/fuel-core-nats/Cargo.toml
Due: prettier

ci(release): preparing 0.0.4 (#82)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/fuel-core-nats/Cargo.toml
Due: prettier

refactor: test
  knope.toml
Due: none

refactor: hi
  knope.toml
Due: none

ci(release): Preparing 0.0.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/fuel-streams/Cargo.toml
Due: prettier

ci(release): Preparing 0.0.2 (#84)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/fuel-streams/Cargo.toml
Due: prettier

ci(repo): fix release
  .github/workflows/release.yaml
  CONTRIBUTING.md
  Cargo.toml
  README.md
  crates/fuel-streams/Cargo.toml
Due: prettier

ci(repo): fix release 2
  .github/workflows/release.yaml
  knope.toml
Due: none

ci(repo): fix release 3
  .github/workflows/release.yaml
  knope.toml
Due: none

ci(repo): fix release 3
  .github/workflows/release.yaml
  knope.toml
  package.json
  preinstall.js
Due: none
